---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Group A:
    - Network:
        - Pi-hole:
            href: http://server.local:8099/admin
            icon: pi-hole.svg
            description: Pi-hole dashboard
            ping: 192.168.1.87
            widget:
              type: pihole
              url: http://192.168.1.87:8099
              version: 6
              key: {{HOMEPAGE_VAR_PIHOLE_API_KEY}}
        - UniFi:
            href: https://unifi.ui.com/
            icon: unifi.svg
            description: FluxHaus Network
            ping: 192.168.1.1
            widget:
              type: unifi
              url: https://192.168.1.1
              key: {{HOMEPAGE_VAR_UNIFI_KEY}}
        - TrueNAS:
            href: http://truenas.local
            icon: truenas.svg
            description: TrueNAS
            ping: 192.168.1.205
            widget:
              type: truenas
              url: http://192.168.1.205
              key: {{HOMEPAGE_VAR_TRUENAS_KEY}}
              enablePools: true
              nasType: scale
        - Portainer:
            href: http://server.local:9000
            icon: portainer.svg
            description: Portainer Docker Info
            ping: portainer
            widget:
              type: portainer
              url: http://192.168.1.87:9000
              env: 3
              key: {{HOMEPAGE_VAR_PORTAINER_KEY}}
        - Homebridge:
            href: http://server.local:8581/
            icon: homebridge.svg
            ping: 192.168.1.87
            descirption: Homebridge Accessories
            widget:
              type: homebridge
              url: http://192.168.1.87:8581
              username: {{HOMEPAGE_VAR_HOMEBRIDGE_USER}}
              password: {{HOMEPAGE_VAR_HOMEBRIDGE_PASSWORD}}
        - Server UPS:
            href: http://server.local:8085/device/ups
            icon: peanut.svg
            ping: 192.168.1.87
            widget:
              type: peanut
              url: http://192.168.1.87:8085
              key: servers
        - Media UPS:
            href: http://server.local:8085/device/ups
            icon: peanut.svg
            ping: 192.168.1.87
            widget:
              type: peanut
              url: http://192.168.1.87:8085
              key: media
        - Grafana:
            href: http://server.local:3000/dashboards
            icon: grafana.svg
            ping: 192.168.1.87
            widget:
              type: grafana
              version: 2  # optional, default is 1
              url: http://192.168.1.87:3000
              username: {{HOMEPAGE_VAR_GRAFANA_USER}}
              password: {{HOMEPAGE_VAR_GRAFANA_PASSWORD}}
        - Server Prometheus:
            icon: prometheus.svg
            ping: 192.168.1.87
            widget:
              type: prometheus
              url: http://192.168.1.87:9090
        - Home Assistant:
            href: http://server.local:8123
            icon: home-assistant.svg
            description: Home Automation
            ping: 192.168.1.87
            widget:
              type: homeassistant
              url: http://192.168.1.87:8123
              key: {{HOMEPAGE_VAR_HOMEASSISTANT_KEY}}
    - Media:
        - Plex:
            href: https://app.plex.tv/
            description: Local Streaming Service
            icon: plex.svg
            ping: 192.168.1.205
            widget:
              type: plex
              url: http://192.168.1.205:32400
              key: {{HOMEPAGE_VAR_PLEX_TOKEN}}
        - Komga:
            href: https://komga.fluxhaus.io
            description: Comics
            icon: komga.svg
            ping: komga.fluxhaus.io
            widget:
              type: komga
              key: {{HOMEPAGE_VAR_KOMGA_TOKEN}}
              version: 2
              url: http://192.168.1.87:8080
        - AudioBookShelf:
            href: https://audiobookshelf.fluxhaus.io
            description: Audio Books
            icon: audiobookshelf.svg
            ping: audiobookshelf
            widget:
              type: audiobookshelf
              url: http://192.168.1.87:13378
              key: {{HOMEPAGE_VAR_AUDIOBOOKSHELF_KEY}}
        - Overseerr:
            href: http://server.local:5055
            description: Media Requests
            icon: overseerr.svg
            ping: overseerr
            widget:
              type: overseerr
              url: http://192.168.1.87:5055
              key: {{HOMEPAGE_VAR_OVERSEERR_KEY}}
        - ROMm:
            href: http://192.168.1.87:6086
            description: ROM Manager
            icon: romm.png
            ping: romm
    - Other Containers:
        - Radarr:
            href: https://radarr.fluxhaus.io
            description: Radarr Service
            icon: radarr.svg
            ping: radarr
            widget:
              type: radarr
              url: http://192.168.1.87:7878
              key: {{HOMEPAGE_VAR_RADARR_TOKEN}}
        - Sonarr:
            href: https://sonarr.fluxhaus.io
            description: Sonarr Service
            icon: sonarr.svg
            ping: sonarr
            widget:
              type: sonarr
              url: http://192.168.1.87:8989
              key: {{HOMEPAGE_VAR_SONARR_TOKEN}}
        - Mylar:
            href: http://server.local:8090/home
            description: Mylar3 Comic Service
            icon: mylar.png
            ping: mylar3
            widget:
              type: mylar
              url: http://192.168.1.87:8090
              key: {{HOMEPAGE_VAR_MYLAR3_KEY}}
        - SABnzbd:
            href: http://server.local:8081/sabnzbd/
            description: Newsreader downloader
            icon: sabnzbd.svg
            ping: sabnzbd
            widget:
              type: sabnzbd
              url: http://192.168.1.87:8081
              key: {{HOMEPAGE_VAR_SABNZB_KEY}}
        - qBittorrent:
            href: http://server.local:8082/
            description: Bittorrent
            icon: qbittorrent.svg
            ping: qbittorrent
            widget:
              type: qbittorrent
              url: http://192.168.1.87:8082
              username: {{HOMEPAGE_VAR_QBITTORRENT_USER}}
              password: {{HOMEPAGE_VAR_QBITTORRENT_PASSWORD}}
        - Prowlarr:
            href: http://server.local:9696
            description: Index Manager
            icon: prowlarr.svg
            ping: prowlarr
            widget:
              type: prowlarr
              url: http://192.168.1.87:9696
              key: {{HOMEPAGE_VAR_PROWLARR_KEY}}
        - Bazarr:
            href: http://server.local:6767
            description: Subtitle Manager
            icon: bazarr.svg
            ping: bazarr
            widget:
              type: bazarr
              url: http://192.168.1.87:6767
              key: {{HOMEPAGE_VAR_BAZARR_KEY}}
- Group B:
    - Server:
        - Info:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.87:61208
              metric: info
        - CPU Usage:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.87:61208
              metric: cpu
        - Network Usage:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.87:61208
              metric: network:enp3s0
        - Top Processes:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.87:61208
              metric: process
        - Memory:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.87:61208
              metric: memory
        - Sensor:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.87:61208
              metric: sensor:Composite
    - Disk Usage:
        - / Usage:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.87:61208
              metric: fs:/
        - / IO:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.87:61208
              metric: disk:nvme1n1p2
        - /mnt/media Usage:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.87:61208
              metric: fs:/mnt/media
        - /mnt/media IO:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.87:61208
              metric: disk:nvme1n1p1
        - /mnt/smb/SpinningPlates Usage:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.87:61208
              metric: fs:/mnt/smb/SpinningPlates
- Group C:
    - NAS:
        - Info:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.205:30015
              metric: info
        - CPU Usage:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.205:30015
              metric: cpu
        - Network Usage:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.205:30015
              metric: network:eth0
        - Memory:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.205:30015
              metric: memory
        - Sensor:
            widget:
              type: glances
              version: 4
              url: http://192.168.1.205:30015
              metric: sensor:Composite
